* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: sans-serif;
}


header, footer {
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  background-color: #333;
}

main {
  display: flex;
  flex: 1;
  padding: 10px;
  gap: 10px;
  background-color: #f4f4f4;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  width: 200px;
  height: 200px;
  background-color: #ddd;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
